@import '../../scss_base/starter';

#playing-area {
    @include grid($column: repeat(10, 1fr));
}

.green {
    background-color: green;
    color: white;
}

.dark {
    background-color: black;
    color: white;
}